#menu-mobile {
	display: block;
	text-align: center;
}

#menu {
	display: none;
}


#content {
    width: 100%;
}

.logo-central {
	width: 80%;
	padding-bottom: 40px;
}

.item-menu-mobile {
	float: left;
	width: 20%;
	margin-right: 5%;
	margin-bottom: 5%;
}

#pieInterna {
    margin: 0 auto;
    padding-top: 7%;
    width: 90%;
}